#new {
	-fx-background-image: url("File:src/paint/gui/assets/new.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#pencil {
	-fx-background-image: url("File:src/paint/gui/assets/pencil.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#eraser {
	-fx-background-image: url("File:src/paint/gui/assets/eraser.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#dropper {
	-fx-background-image: url("File:src/paint/gui/assets/dropper.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#rotator {
	-fx-background-image: url("File:src/paint/gui/assets/rotate.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#bucket {
	-fx-background-image: url("File:src/paint/gui/assets/bucket.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#remover {
	-fx-background-image: url("File:src/paint/gui/assets/remover.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#line {
	-fx-background-image: url("File:src/paint/gui/assets/line.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#rectangle {
	-fx-background-image: url("File:src/paint/gui/assets/rectangle.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#square {
	-fx-background-image: url("File:src/paint/gui/assets/square.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#triangle {
	-fx-background-image: url("File:src/paint/gui/assets/triangle.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#polygon {
	-fx-background-image: url("File:src/paint/gui/assets/polygon.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#ellipse {
	-fx-background-image: url("File:src/paint/gui/assets/ellipse.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#circle {
	-fx-background-image: url("File:src/paint/gui/assets/circle.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#undo {
	-fx-background-image: url("File:src/paint/gui/assets/undo.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#redo {
	-fx-background-image: url("File:src/paint/gui/assets/redo.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}